.luckysheet-modal-dialog-slider-content-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
/* #region 新的保护 */
#luckysheet-epoint-protection-dialog .luckysheet-modal-dialog-slider-content {
    background-color: #fff;
}
.epoint-protection-list {
    padding: 10px;
}
.epoint-protection-item {
    display: block;
    padding: 10px;
    margin-bottom: 6px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.epoint-protection-item:hover {
    background-color: #d2e6f7;
}
.epoint-protection-item-desc {
    line-height: 1.5;
}
.epoint-protection-item-operate {
}
.epoint-protection-item-content {
    color: #999;
}
.epoint-protection-item-remove {
    vertical-align: top;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    transition: all 0.2s ease-out;
    font-size: 20px;
}
.epoint-protection-item-remove:hover {
    color: #f65637;
}
/* #endregion */

#luckysheet-epoint-summary-dialog {
    width: 350px;
}
.luckysheet-modal-dialog-slider-content {
    background-color: #fff;
}

.epoint-summary-config {
    line-height: 30px;
    padding: 10px;
    color: #606060;
}
.epoint-summary-config-block {
    margin-bottom: 10px;
}

.epoint-summary-config-block:after {
    display: block;
    content: '';
    clear: both;
}
.epoint-summary-config-block.colum-layout {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.epoint-summary-config-block.colum-layout > div {
    margin-right: 10px;
}
.epoint-summary-config .epoint-sheet-range.area-select {
    width: 270px;
    float: left;
}
.epoint-summary-config .epoint-sheet-button.area-add {
    float: right;
}
.epoint-summary-config {
}

/* #region radio */
.epoint-radio-list {
}
.epoint-radio-item {
    display: inline-block;
    vertical-align: top;
    width: 76px;
}
.epoint-radio-label {
    cursor: pointer;
}
.epoint-radio-item-check {
    /* display: none; */
}
/* .epoint-radio-item-check:checked + * {
    color: red;
} */

/* #endregion */

/* #region range */

.epoint-sheet-range {
    border: 1px solid #ddd;
    line-height: 30px;
}
.epoint-sheet-range:focus-within {
    border-color: #6598f3;
}
.epoint-sheet-range-input {
    box-sizing: border-box;
    width: calc(100% - 30px);
    border: 0;
    padding: 0 10px;
    margin: 0;
    line-height: 30px;
    vertical-align: top;
}
.epoint-sheet-range-input:focus {
    outline: none;
}
.epoint-sheet-range-icon {
    vertical-align: top;
    width: 30px;
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}
.epoint-sheet-range-icon:hover {
    background: #eee;
    color: #6598f3;
    color: var(--theme-color, #6598f3);
}
.epoint-sheet-button {
}

.epoint-summary-rule-item {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.epoint-summary-rule-item-txt {
    background: #f0f0f0;
    padding: 0 6px;
    margin-right: 6px;
}
.epoint-summary-rule-item-remove {
    width: 30px;
    font-size: 20px;
    text-align: center;
}

/* #endregion */
